/* Bootstrap */
@import '~bootstrap/scss/bootstrap';

$dc-primary: #0282F9;
$dc-banner-bg: #1C1C1C;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #FFFFF2;
$dc-text-grey: #797777;


.powered-visa {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}


.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
}

.tag {
    width: 11rem;
    height: 2rem;
    bottom: -1rem;
    left: 16rem;
}