/* Bootstrap */
@import '~bootstrap/scss/bootstrap';


.powered-visa {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}


.jumbotron{
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
}

.tag{
    width: 11rem;
    height: 2rem;
    bottom: -1rem;
    left: 16rem;
}